{% extends "radi/ubase.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
    <style xmlns="http://www.w3.org/1999/html">
    </style>
{% endblock %}
{% block page_title %}
 Tables
{% endblock %}

{% block extra_style %}
<link href="{% static 'dashboard/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet"/>
{% endblock extra_style %}

{% block content %}

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">{{ sub_title }}</h4>
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'radi:radiWelcome' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Handing List</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title"><center>HANDING OVER HISTORY</center></h4>
                        {{ handing_form|crispy }}
                        <hr>
                        <button class="btn show-form">
                          <span><a href="{% url 'radi:handingCreate' %}">Create Hand Shift</a></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block extra_script %}
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>
<script>
    $(document).ready(function () {
        $('#zero_config').DataTable();
    });
</script>
<script src="{% static 'dashboard/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'dashboard/js/datatables.min.js' %}"></script>
<script src="{% static 'radi/handing_create.js' %}"></script>

{% endblock %}